<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title">Edit your proflle</h3>
</div>
<div class="modal-body">
    <form name="user_form" class="form-horizontal" role="form" novalidate>
        <form-element label="Name" mod="user">
            <input type="text" class="form-control" name="name" placeholder="Name" ng-model="user.userName" focus/>
        </form-element>
        <form-element label="Gender" mod="user">
            <input type="text" class="form-control" name="gender" placeholder="Gender" ng-model="user.gender" />
        </form-element>
        <form-element label="D.O.B" mod="user">
            <input type="text" class="form-control" name="dob" placeholder="D.O.B" ng-model="user.dob" />
        </form-element>
        <form-element label="Phone" mod="user">
            <input type="text" class="form-control" name="phone" placeholder="Phone" ng-model="user.phone" />
        </form-element>
        <form-element label="E-mail ID" mod="user">
            <input type="text" name="email" class="form-control" placeholder="E-mail ID" ng-model="user.userEmail" />
            <small class="errorMessage" ng-show="user_form.email.$dirty && user_form.email.$invalid"> Enter e-mail ID.</small>
        </form-element>
        <form-element label="Address" mod="user">
            <textarea name="address" class="form-control" ng-model="user.address"> Address
            </textarea>
        </form-element>
        <form-element label="City" mod="user">
            <input type="text" class="form-control" name="city" placeholder="City" ng-model="user.city" />
        </form-element>
        <form-element label="Country" mod="user">
            <input type="text" class="form-control" name="country" placeholder="Country" ng-model="user.country" />
        </form-element>
        <form-element label="Pin" mod="user">
            <input type="text" class="form-control" name="pin" placeholder="Pincode" ng-model="user.pin" />
        </form-element>
        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                    <button ng-click="saveuser(user);" ng-disabled="user_form.$invalid || enableUpdate" class="btn btn-sm btn-primary" type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>
